
.DS_Store
.idea/.idea.Discrete.dir/.idea/indexLayout.xml
bin/Debug/net8.0/Discrete
bin/Debug/net8.0/Discrete.deps.json
bin/Debug/net8.0/Discrete.dll
bin/Debug/net8.0/Discrete.pdb
bin/Debug/net8.0/Discrete.runtimeconfig.json
bin/Debug/net8.0/graph.dot
bin/Debug/net8.0/graph.png
bin/Debug/net8.0/GraphSharp.Controls.dll
bin/Debug/net8.0/GraphSharp.dll
bin/Debug/net8.0/graphviz/acyclic.exe
bin/Debug/net8.0/graphviz/bcomps.exe
bin/Debug/net8.0/graphviz/cairo.dll
bin/Debug/net8.0/graphviz/ccomps.exe
bin/Debug/net8.0/graphviz/cdt.dll
bin/Debug/net8.0/graphviz/cgraph.dll
bin/Debug/net8.0/graphviz/concrt140.dll
bin/Debug/net8.0/graphviz/config6
bin/Debug/net8.0/graphviz/dijkstra.exe
bin/Debug/net8.0/graphviz/dot.exe
bin/Debug/net8.0/graphviz/expat.dll
bin/Debug/net8.0/graphviz/fontconfig.dll
bin/Debug/net8.0/graphviz/gc.exe
bin/Debug/net8.0/graphviz/glib-2.dll
bin/Debug/net8.0/graphviz/gml2gv.exe
bin/Debug/net8.0/graphviz/gobject-2.dll
bin/Debug/net8.0/graphviz/graphml2gv.exe
bin/Debug/net8.0/graphviz/gvc.dll
bin/Debug/net8.0/graphviz/gvcolor.exe
bin/Debug/net8.0/graphviz/gvgen.exe
bin/Debug/net8.0/graphviz/gvpack.exe
bin/Debug/net8.0/graphviz/gvplugin_core.dll
bin/Debug/net8.0/graphviz/gvplugin_dot_layout.dll
bin/Debug/net8.0/graphviz/gvplugin_gd.dll
bin/Debug/net8.0/graphviz/gvplugin_gdiplus.dll
bin/Debug/net8.0/graphviz/gvplugin_neato_layout.dll
bin/Debug/net8.0/graphviz/gvplugin_pango.dll
bin/Debug/net8.0/graphviz/gxl2gv.exe
bin/Debug/net8.0/graphviz/libgd.dll
bin/Debug/net8.0/graphviz/libharfbuzz-0.dll
bin/Debug/net8.0/graphviz/mm2gv.exe
bin/Debug/net8.0/graphviz/msvcp140.dll
bin/Debug/net8.0/graphviz/nop.exe
bin/Debug/net8.0/graphviz/pango-1.dll
bin/Debug/net8.0/graphviz/pangocairo-1.dll
bin/Debug/net8.0/graphviz/pangoft2-1.dll
bin/Debug/net8.0/graphviz/pangowin32-1.dll
bin/Debug/net8.0/graphviz/pathplan.dll
bin/Debug/net8.0/graphviz/pixman-1.dll
bin/Debug/net8.0/graphviz/sccmap.exe
bin/Debug/net8.0/graphviz/tred.exe
bin/Debug/net8.0/graphviz/unflatten.exe
bin/Debug/net8.0/graphviz/vcruntime140.dll
bin/Debug/net8.0/graphviz/xdot.dll
bin/Debug/net8.0/GraphVizNet.dll
bin/Debug/net8.0/KdTreeLib.dll
bin/Debug/net8.0/MathNet.Numerics.dll
bin/Debug/net8.0/MIConvexHull.dll
bin/Debug/net8.0/QuickGraph.Data.dll
bin/Debug/net8.0/QuickGraph.dll
bin/Debug/net8.0/QuickGraph.Graphviz.dll
bin/Debug/net8.0/QuickGraph.Serialization.dll
bin/Debug/net8.0/QuikGraph.dll
bin/Debug/net8.0/RentedArraySharp.dll
bin/Debug/net8.0/Unchase.Satsuma.Adapters.dll
bin/Debug/net8.0/Unchase.Satsuma.Algorithms.dll
bin/Debug/net8.0/Unchase.Satsuma.Core.dll
bin/Debug/net8.0/Unchase.Satsuma.TSP.dll
bin/Debug/net8.0/WPFExtensions.dll
bin/Debug/net8.0/~$graph.dot
graph.dot
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost
obj/Debug/net8.0/Discrete.AssemblyInfo.cs
obj/Debug/net8.0/Discrete.AssemblyInfoInputs.cache
obj/Debug/net8.0/Discrete.assets.cache
obj/Debug/net8.0/Discrete.csproj.AssemblyReference.cache
obj/Debug/net8.0/Discrete.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Discrete.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Discrete.csproj.Up2Date
obj/Debug/net8.0/Discrete.dll
obj/Debug/net8.0/Discrete.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Discrete.genruntimeconfig.cache
obj/Debug/net8.0/Discrete.GlobalUsings.g.cs
obj/Debug/net8.0/Discrete.pdb
obj/Debug/net8.0/ref/Discrete.dll
obj/Debug/net8.0/refint/Discrete.dll
obj/Discrete.csproj.nuget.dgspec.json
obj/Discrete.csproj.nuget.g.props
obj/Discrete.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/rider.project.model.nuget.info
obj/rider.project.restore.info
